* {
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body {
    background: #c7ecee;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.select-menu {
    min-width: 300px;
    cursor: pointer;
    position: relative;
}
.select {
    background: #201e1e;
    padding: 20px;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
    border-right: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.options-list {
    position: absolute;
    width: 100%;
    background: #f9f9f9;
    border-radius: 6px;
    margin-top: 0.9rem;
    padding: 0 1.5rem;
    max-height: 180px;
    overflow-y: auto;
    transition: 0.3s;
    scrollbar-color: #00a8ff #eee;
    scrollbar-width: thin;
    height: 0;
}

.option {
    padding: 8px 0;
    font-weight: 500;
    font-size: 1rem;
    transition: 0.3s;
}
.option:hover {
    color: rgb(1, 150, 150);
}
